iframe {
    display: block;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
    font-family: Arial;
    background-color: #00a5a5;
    border-radius: 100px;
    margin-left: 42vw;
    margin-right: 42vw;
    padding: 10px 5px;
    
}

p {
    text-align: center;
    font-family: Arial;
    
    border-radius: 100px;
    margin-left: 43vw;
    margin-right: 43vw;
    
    margin-top: -15px;
}

body {
    background-image: url(koks.jpg)
}

a {
    text-align: center;
    font-family: Arial;
    background-color: #00a5a5;
    border-radius: 100px;
    margin-left: 44vw;
    margin-right: 42vw;
    padding: 10px 5px;
    text-decoration: none;
    color: black;
    
}

div {
    text-align: center;
    font-family: Arial;
    background-color: #00a5a5;
    border-radius: 100px;
    margin-left: 46vw;
    margin-right: 42vw;
    padding: 10px 5px;
    text-decoration: none;
    color: black;
    margin-top: 30px;
}
